<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_home.css') }}">
</head>
<body>
    <div class="welcome-container">
        <h2>It's user space! <br> </h2> 
        <h1>Welcome, {{ username }} to {{ workspace_name }} workspace!</h1>
        <div class="inside-div"></div>
            <form action="{{ url_for('logout') }}" method="POST">
                <button type="submit" class="logout-button">Logout</button>
            </form>
        </div>
    </div>
</body>
</html>